
:root {
    background-color: white;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: rgb(15,18,25);
}

.body
{
    font-size: 98%;
}

.wrapper
{
    padding: 0 calc(50% - 400px);
    margin: 0 auto;
}

#test-name {
    text-align: center;
}

